.itemContainer {
  display: flex;
}

.label {
  min-width: 100px;
}

.itemContainer button {
  width: 20px;
  margin: 0;
  margin-right: 10px;
}

.itemContainer:not(:last-child) {
  margin-bottom: 10px;
}
