.formContainer {
	padding-top: 20px;
}

.Fieldset {
	all: unset;
	display: flex;
	gap: 20px;
	align-items: center;
	margin-bottom: 15px;
}

.Label {
	font-size: 15px;
}

.Input {
	all: unset;
	width: 100%;
	flex: 1;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	padding: 0 10px;
	font-size: 15px;
	line-height: 1;
	box-shadow: 0 0 0 1px var(--violet-7);
	height: 35px;
	&:focus {
		box-shadow: 0 0 0 2px var(--violet-8);
	}
}

.footer {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
}