.todo-list {
  padding: 15px;
  display: flex;
  justify-content: center;
}

.todo-list .todo-item {
  display: flex;
}

.mg-r-10 {
  margin-right: 10px;
}

.mg-b-10 {
  margin-bottom: 10px;
}

/* Checkbox */
@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/violet.css";

/* reset */
button {
  all: unset;
}

.CheckboxRoot {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  display: flex;
  align-items: end;
  justify-content: center;
  border: 1px solid #333;
}
.CheckboxRoot:hover {
  background-color: var(--violet-3);
}
.CheckboxRoot:focus {
  box-shadow: 0 0 0 1px #333;
}

.CheckboxIndicator {
  color: var(--violet-11);
}
