.todo-list {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.todo-list .todo-item {
  display: flex;
}

.mg-r-10 {
  margin-right: 10px;
}

.mg-b-10 {
  margin-bottom: 10px;
}
.mg-l-10 {
  margin-left: 10px;
}

.font-semibold {
  font-weight: 600;
}

.svg-md {
  width: 30px;
}

.svg-sm {
  width: 20px;
}

.flex {
  display: flex;
}

.flex--align-center {
  align-items: center;
}

.flex--column {
  flex-direction: column;
}
/* reset */
button {
  all: unset;
}

/* Firebase login ui fix*/
.firebaseui-container {
  display: none;
}
