.todo-list {
  padding: 15px;
  display: flex;
  justify-content: center;
}

.todo-list .todo-item {
  display: flex;
}

.mg-r-10 {
  margin-right: 10px;
}

.mg-b-10 {
  margin-bottom: 10px;
}

.font-semibold {
  font-weight: 600;
}

/* reset */
button {
  all: unset;
}
