.mg-r-10 {
  margin-right: 10px;
}

.mg-b-10 {
  margin-bottom: 10px;
}
.mg-l-10 {
  margin-left: 10px;
}


/* Typography */
.text-muted {
  color: var(--text-muted-color);
}

.font-semibold {
  font-weight: 600;
}

/* SVG */
.svg-md {
  width: 30px;
}

.svg-sm {
  width: 20px;
}

.rotate180 {
  transform: rotate(180deg);
}